[submodule "obvious"]
  path = obvious
  url = https://github.com/hoelzro/obvious
[submodule "vicious"]
  path = vicious
  url = https://github.com/vicious-widgets/vicious
[submodule "fainty"]
  path = fainty
  url = https://github.com/vladimir-g/fainty
